@import './base.css';

#app {
  width: 100%;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--color-text);
  text-decoration: none !important;
  font-weight: 700;
  &.active {
    color: var(--color-heading);
    /* border-bottom: 2px solid var(--color-text); */
  }
}

h1 {
  font-weight: 700;
}

.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}
